name: PR Build & Test

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@nightly
      - uses: goto-bus-stop/setup-zig@v2
      - run: cargo install cargo-zigbuild
      - run: ./build-native.sh --all

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - run: dotnet build Pulsy.SlateDB.sln
      - run: dotnet test Pulsy.SlateDB.sln
